In [2]:
import pandas as pd
import numpy as np
import ast

In [28]:
# start here only if running from brand new main.csv
# read in csv and convert dictionary back to dictionary from csv string

df = pd.read_csv('../data/main.csv', converters={'offers': ast.literal_eval})

In [29]:
# extract price from a dictionary which was left as the 'offers' column

def get_price(line):
    return int(line.get('price'))

df['price'] = df['offers'].map(get_price)

In [30]:
# clean and sort

df.drop(columns=['@context', '@type', 'itemCondition', 'image', 'brand', 'description', 'sku', 'vehicleIdentificationNumber', 'offers'], inplace=True)
df.rename(columns={'modelDate': 'year', 'mileageFromOdometer': 'mileage'}, inplace=True)

df.sort_values(by=['manufacturer', 'model', 'trim', 'year'], inplace=True)

In [31]:
df = df.reindex(columns = ['name', 'year', 'manufacturer', 'model', 'trim', 'mileage', 'color', 'price'])

In [32]:
# drop any model with a count of ten or fewer
# method taken from https://stackoverflow.com/questions/49735683/python-removing-rows-on-count-condition

df = df[df.groupby('model').model.transform('count') > 10]

In [33]:
df

,name,year,manufacturer,model,trim,mileage,color,price
1,2013 Acura ILX,2013,Acura,ILX,2.0L,71460,Silver,18990
5,2013 Acura ILX,2013,Acura,ILX,2.0L,49713,White,19590
7,2013 Acura ILX,2013,Acura,ILX,2.0L,81768,Silver,17990
17,2013 Acura ILX,2013,Acura,ILX,2.0L,98986,White,16590
18,2013 Acura ILX,2013,Acura,ILX,2.0L,23590,Silver,21590
...,...,...,...,...,...,...,...,...
6410,2015 smart fortwo,2015,smart,fortwo,Pure Hatchback,61368,White,13990
6420,2015 smart fortwo,2015,smart,fortwo,Pure Hatchback,44261,White,13590
6422,2015 smart fortwo,2015,smart,fortwo,Pure Hatchback,35170,Black,13990
6424,2015 smart fortwo,2015,smart,fortwo,Pure Hatchback,58660,Silver,12990
6412,2016 smart fortwo,2016,smart,fortwo,Pure Hatchback,31954,White,16590

In [34]:
# save as a cleaned csv for modeling

df.to_csv('../data/cleaned.csv', index=False)

In [44]:
# everything looks good

df.dtypes

name            object
year             int64
manufacturer    object
model           object
trim            object
mileage          int64
color           object
price            int64
dtype: object

In [3]:
# start here if working with previously cleaned cleaned.csv

df = pd.read_csv('../data/cleaned.csv')

In [13]:
df

,name,year,manufacturer,model,trim,mileage,color,price
0,2013 Acura ILX,2013,Acura,ILX,2.0L,71460,Silver,18990
1,2013 Acura ILX,2013,Acura,ILX,2.0L,49713,White,19590
2,2013 Acura ILX,2013,Acura,ILX,2.0L,81768,Silver,17990
3,2013 Acura ILX,2013,Acura,ILX,2.0L,98986,White,16590
4,2013 Acura ILX,2013,Acura,ILX,2.0L,23590,Silver,21590
...,...,...,...,...,...,...,...,...
10654,2015 smart fortwo,2015,smart,fortwo,Pure Hatchback,61368,White,13990
10655,2015 smart fortwo,2015,smart,fortwo,Pure Hatchback,44261,White,13590
10656,2015 smart fortwo,2015,smart,fortwo,Pure Hatchback,35170,Black,13990
10657,2015 smart fortwo,2015,smart,fortwo,Pure Hatchback,58660,Silver,12990
10658,2016 smart fortwo,2016,smart,fortwo,Pure Hatchback,31954,White,16590

In [19]:
# only run if single count trims are not desired
#df = df[df.groupby('trim').trim.transform('count') > 7]

In [2]:
#df['model'].value_counts().head()